<%= content_for :menu do %>

<%= icon_to 'navigation90.png', members_path %>
<% end -%>

<div class="champ">
  <h3>Nouveau <%= I18n::t('member') %></h3>
</div>
<div class="row-fluid inner-champ">

<%= render 'form' %>
</div>