<%= content_for :menu do %>

<%= icon_to 'payment.png', member_payments_path(@member) %>
<% end -%>

<div class="champ">
  <h3>Enregistrement d'un paiement de <%=  @member.to_s %></h3>

<div class="inner-champ">

<%= render 'form' %>
</div>
</div>
