<%%= content_for :menu do %>

<%%= icon_to 'navigation90', <%= table_name %> %>
<%% end -%>

<div class="champ">
  <h3>Nouveau <%%= <%= I18n::t  singular_table_name %></h3>
</div>
<div class="row-fluid inner-champ">

<%%= render 'form' %>
</div>