<%= content_for :menu do %>
<%= icon_to 'retour.png', adherents_path %>
<% end -%>
<div class="champ">
  <h3>Nouvel adhérent</h3>
</div>
<div class="row-fluid inner-champ">

<%= render 'form' %>
</div>
