<%= content_for :menu do %>
<%= icon_to_users %>

<% end -%>

<div class="champ">
  <h3>Modification <%=  I18n.t('coord').pluralize %></h3>
</div>
  <div class="inner-champ">
    <%= render 'form' %>
  </div>



