<%= content_for :menu do %>

<%= icon_to_users %>
<% end -%>

<div class="champ">
  <h3>Saisie des coordonnées de <%= @member.to_s %></h3>

<div class="inner-champ">

<%= render 'form' %>
</div>
</div>