.panel-body#transfer
  = simple_form_for([@payment, @reglement])  do |f|
    =f.error_notification
    .row
      .form-action
        = f.input :amount, wrapper_html:{class:'col-lg-2'},
          input_html:{value:number_to_currency(@reglement.amount)},
          :as=>:french_decimal, :disabled=>true
        = f.association :adhesion, :collection=>@unpaid_adhesions,
          wrapper_html:{class:'col-lg-5'},
          :label_method=>:to_s_for_select, :prompt=>'Choisissez une adhésion' 
    .row
      .form-actions
        = f.button :submit, id: 'new_reglement', class: "btn-primary col-lg-offset-6"