%div#adherent_footer 
  Place pour le footer : surcharger  le partial _footer dans votre application principale pour y adapter votre Footer
  ou masquer ce div par un style display: hidden; si vous ne voulez pas personnaliser ce header.
  L'id de ce header est #adherent_footer
