%div#adherent_header 
  -#Place pour le Header : surcharger  le partial _header dans votre application principale pour y adapter votre Header
  -#ou masquer ce div par un style display: hidden; si vous ne voulez pas personnaliser ce header.
  -#L'id de ce header est #adherent_header
  %ul.nav.nav-tabs#menu_general
    -# pas très bien nommé, la suite affiche les icones
    %li.horizontal_icons
      = yield :menu