<%= content_for :menu do %>

<%= icon_to 'bandaid.png', member_adhesions_path(@member) %>
<% end -%>

<div class="champ col-lg-12">
  <h3>Modification adhésion pour <%=  @member.to_s %></h3>

<div class="inner-champ">

<%= render 'form' %>
</div>
  </div>