<%= content_for :menu do %>

<%= icon_to 'bandaid.png', member_adhesions_path(@member) %>
<% end -%>

<div class="champ">
  <h3>Modification adhésion pour <%=  @member.to_s %></h3>
</div>
<div class="row-fluid inner-champ">

<%= render 'form' %>
</div>