<%= content_for :menu do %>

<%= icon_to_users %>
<% end -%>

<div class="champ">
  <h3>Renouvellement ou nouvelle adhésion pour <%=  @member.to_s %></h3>
</div>
<div class="row-fluid inner-champ">

<%= render 'form' %>
</div>

